<div class="hero-form-container">

  {{ hero.action }}

  <mat-form-field class="hero-form-container-item">
    <input #heroName matInput placeholder="Name" />
  </mat-form-field>

  <mat-form-field class="hero-form-container-item">
    <textarea #heroName matInput placeholder="Description"></textarea>
  </mat-form-field>

  <mat-form-field class="hero-form-container-item">
    <input #heroName matInput placeholder="URL Avatar" />
  </mat-form-field>

  <mat-form-field class="hero-form-container-item">
    <input #heroName matInput placeholder="URL Main Image" />
  </mat-form-field>
</div>